{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">view Attendance</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="subjects.html">Attendance</a></li>
                    <li class="breadcrumb-item active">view Attendance</li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'includes/messages.html' %}
    {% if action is None %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    
                    <form method="post" action="?action=get_student" method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>View Attendance</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                   <label>Subject</label>
                                   <select class="form-control" name="subject_id" required>
                                    <option>Select Subject</option>
                                    {% for i in subject %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                    {% endfor %}
                                   </select>
                                </div>
                             </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                   <label>Session Year</label>
                                   <select class="form-control" name="session_year_id" required>
                                    <option>Select Session Year</option>
                                    {% for i in session_year %}
                                    <option value="{{i.id}}">{{i.session_start}}&nbsp;{{i.session_end}}</option>
                                    {% endfor %}
                                   </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 mt-4">
                                <div class="form-group">
                                   <label>Attendance Date</label>
                                   <div>
                                      <input type="date" class="form-control" name="attendance_date">
                                   </div>
                                </div>
                             </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">View Student</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    
                    <form method="post" action="?action=view_student" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>View Attendance</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                   <label>Subject</label>
                                   <select class="form-control" name="subject_id" disabled>
                                  
                                    <option value="{{i.id}}">{{get_subject}}</option>
                                    
                                   </select>
                                </div>
                             </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                   <label>Session Year</label>
                                   <select class="form-control" name="session_year_id" disabled>
                                    
                                    
                                    <option value="{{i.id}}">{{get_session_year}}</option>
                                    
                                   </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 mt-4">
                                <div class="form-group">
                                   <label>Attendance Date</label>
                                   <div>
                                      <input type="date" class="form-control" value="{{attendance_date}}" disabled>
                                   </div>
                                </div>
                             </div>
                            <div class="col-12 mt-4">
                                <div class="col-auto text-right float-right ml-auto">
                                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                                    <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <div class="card card-table">
                                    <div class="card-body">
                                       <div class="table-responsive">
                                          <table id="table_id" class="table table-hover table-center mb-0">
                                             <thead>
                                                <tr>
                                                   <th>ID</th>
                                                   <th>Name</th>
                                                   <th>Email</th>
                                                   <th class="text-right">Action</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                       
                                               {% for i in attendance_report %}
                                                <tr>
                                                   <td>{{i.student_id.admin.id}}</td>
                                                   <td>
                                                      <h2 class="table-avatar">
                                                         <a href="student-details.html">{{i.student_id.admin.first_name}}&nbsp;{{i.student_id.admin.last_name}}</a>
                                                      </h2>
                                                   </td>
                                                   <td>{{i.student_id.admin.email}}</td>
                                                   
                                                   <td class="text-right">
                                                      
                                                   </td>
                                                </tr>
                                                {% endfor %}
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}